---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1></h1>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h2 class="header-light regular-pad">CRISTAL V2: Nuclear criticality calculation package</h2>
CRISTAL V2 package includes all the elements necessary to nuclear criticality calculations for fuel cycle facilities (fabrication, reprocessing, etc.), storage and transportation of fissile materials:
<ul>
    <li>The basic nuclear data, including microscopic cross sections.</li>

    <li>Computer codes (<b>APOLLO2</b>, <b>TRIPOLI-4®</b>, <b>MORET 5</b>).</li>

    <li>Graphical User Interface (<b>LATEC</b>).</li>

    <li>Recommended calculation options and calculation procedures.</li>

    <li>The cross sections libraries are mainly based on the <b>JEFF3.1.1</b> nuclear evaluation.</li>
</ul>

CRISTAL V2 Experimental Validation Database contains more than 3000 benchmarks, mainly selected in the <a href="https://www.oecd-nea.org/science/wpncs/icsbep/">ICSBEP Handbook</a>. Complementary experiments are selected from confidential programs, for instance, dedicated to Burnup Credit Applications carried out in Valduc and Cadarache centers. This database covers the various configurations encountered in criticality-safety studies.
        </div>
        <div class="col-md-3 text-center">
            <img src="img/logo.png" alt="" class="img-responsive">
        </div>    
    </div>

    <hr>

    <div class="row">
        <h2 class="header-light regular-pad">Ressources</h2>
        <br/>
        <div class="col-sm-4 text-center">
            <a class="btn btn-primary btn-lg" href='{{ "/docs/access" | prepend: site.baseurl }}' role="button">Access</a>
        </div>
         <div class="col-sm-4 text-center">
            <a class="btn btn-primary btn-lg" href='{{ "/docs/support" | prepend: site.baseurl }}' role="button">Support</a>
        </div>
        <div class="col-sm-4 text-center">
            <a class="btn btn-primary btn-lg" href='{{ "/docs/training" | prepend: site.baseurl }}' role="button">Training</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2 class="header-light regular-pad">Who we are ?</h2>
            <center>CRISTAL project is supported by french nuclear criticality-safety community:</center>
            <br/>
        </div>
        <br/>
        <div class="col-md-3">
            <center><img src="img/logo_IRSN.png" width="150" alt="IRSN" class="img-responsive"></center>
        </div>
        <div class="col-md-3">
        <br/>
        <br/>
            <center><img src="img/logo_ORANO.png"width="150"  alt="ORANO" class="img-responsive"></center>
        </div>
        <div class="col-md-3">
            <center><img src="img/logo_CEA.png" width="150" alt="CEA" class="img-responsive"></center>
        </div>
        <div class="col-md-3">
        <br/>
        <br/>
            <center><img src="img/logo_FRAMATOME.png" width="150" alt="Framatome" class="img-responsive"></center>
        </div>
    </div>

</div>
